<div class="container">
  <h2>species and versions!</h2>
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="speciesVersionsFrom">
        <div class="form-group">
          <select formControlName="species" class="form-control" (change)="onChangeSpecies($event.target.valueOf())">
            <option value="">Select Species</option>
            <option *ngFor="let s of species" [value]="s.id">{{s.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <select formControlName="versions" class="form-control">
            <option value="" selected>Select Version</option>
            <option *ngFor="let version of versions" [value]="version.id">{{version.name}}</option>
          </select>
        </div>
      </form>
    </div>
  </div>
</div>
